export(density_plot)

export(parse_dataset_from_string)
export(data_frame_from_strings)

export(is_dataset_normally_distributed)
export(interpret.p.value)
export(shapiro.wilk.normality.test)
export(anderson.darling.normality.test)
export(cramer.mises.normality.test)

export(read.clearstats.bib.file)

export(runif_sample)
export(rnorm_sample)

export(cliffs.d)
export(print.cliffs.d)

export(a.statistic)
export(print.a.statistic)

import(ggplot2)
import(opencpu)
import(nortest)
import(bibtex)